*.bak
*.dbg
*.exe
*.old
*.log
*.trc
*.lps
*.log
readme.txt
modify.txt
dataexpress
dataexpress.cfg
DEMO_DB.FDB
lib
backup
tools
/_test64
/_dist
logs
/_test/htmltextlib.dll
/_test/dxcef.dll
/_test/gantchartlib10.dll
/_test/tglog.txt
/_test/cef

